@{
    ViewData["Title"] = "Home Page";
}

<!-- Present a simple interface centering a clickable image to navigate to the shuffle view. -->
<div class="site-wrapper">
    <div class="site-wrapper-inner">

        <div class="cover-container">
            <div class="inner cover">

                <div class="masthead clearfix">
                    <div class="inner">
                        <h3 class="masthead-brand">Click Deck To Play</h3>
                        <a href="Home/ShuffleDeck/Shuffle"><img class="center-block" src="~/images/deck.png"  /></a>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>
