@{
    ViewData["Title"] = "Home Page";
}
<!-- Present a simple interface with a clickable image to navigate to the shuffle view. -->
<div class="site-wrapper">
    <div class="site-wrapper-inner">

        <div class="masthead clearfix">

            <div class="inner">
                <h3 class="left masthead-brand">Click The Deck To Play</h3>
                <a href="Home/ShuffleDeck/Shuffle"><div class="Clear DeckImage col-sm-6 col-md-offset-3"></div></a>
            </div>
        </div>

    </div>
</div>


