
@model IOrderedEnumerable<CoreCards.Models.Card>
@{
    ViewData[Constants.TITLE] = Constants.SHUFFLE;
}

<h3>@ViewData[Constants.MESSAGE]</h3>

<!-- Provide a container to display the deck of cards. -->
<div class="cardContainer">
    @foreach (var card in Model)
    {
        <div class="card col-sm-1 @card.Suit">
            @card.ToString()
        </div>
    }
</div>

<script>
    try {
        window.onload = setUpShuffleView();
    }
    catch (e) { alert(e);}
</script>