@{
    ViewData["Title"] = "Shuffle";
}

<h3>@ViewData["Message"]</h3>

<!-- Provide a container to display the deck of cards. -->
<div class="cardContainer">
    @foreach (var card in ViewData["Cards"] as IOrderedEnumerable<CoreCards.Models.Card>)
    {
        <div class="card col-sm-1 @card.Suit">
            @card.ToString()
        </div>
    }
</div>